[submodule "tmux/.config/tmux/plugins/catppuccin/tmux"]
	path = tmux/.config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = alacritty/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "spicetify/.config/spicetify/Themes"]
	path = spicetify/.config/spicetify/Themes
	url = https://github.com/catppuccin/spicetify.git
